*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
    box-sizing: border-box;
    --hover-grey: rgba(255, 255, 255, 0.8);
}
body{
    height: 15000px;
}
a{
    text-decoration: none;
    color: initial;
}
.top-boys-container{
    display: flex;
    flex-direction: column;
    top: 0;
    position: sticky;
    z-index: 999;
}




/* CLOSE */

#close:checked ~ .black-friday-strip{
    display: none;
}
.black-friday-strip{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0px 22px 0px 70px;
    background-color: black;
}
#close{
    display: none;
}
.black-friday-strip img{
    width: 30px;
    cursor: pointer;
}
.black-friday-strip p{
    font-size: 16.5px;
    font-weight: 600;
    color: white;
    flex: 1;
    text-align: center;
    padding-bottom: 6px;
}





/* MENU */

.menu{
    padding: 0px 40px;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    position: relative;
}
.menu-logo{
    -webkit-filter: invert(100%);
    width: 205px;
    cursor: pointer;
}


.menu-middle-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    height: 100%;
}
.menu-group{
    height: 100%;
    display: flex;
    align-items: center;
}
.menu-name{
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.menu-container{
    color: white;
    background-color: black;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 80px;
    display: none;
    flex-direction: column;
}
.extra-space{
    width: 100%;
    height: 9px;
    background-color: rgb(0, 0, 0);
}
.products-two-sides{
    border-top: 1.6px solid rgb(82, 82, 82);
    height: 560px;
}
.resources-sides{
    border-top: 1.6px solid rgb(82, 82, 82);
    height: 560px
}
.products-two-sides{
    display: flex;
    flex-direction: row;
}
.products-left{
    overflow-y: scroll;
    padding-left: 125px;
    padding-right: 42px;
    padding-top: 34px;
    display: flex;
    flex-direction: row;
    border-right: 1px solid rgb(82, 82, 82);
    gap: 14px;
    height: 520px;
}
.column{
    display: flex;
    flex-direction: column;
    width: 280px;
    gap: 48px;
    
}
.column-group{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.column-content{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.column-content div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.column-title{
    font-size: 12px;
    font-weight: bold;
    color: grey;
}
.column-content div p{
    font-size: 20px;
    color: white;
    font-weight: 600;
}
.column-content div i{
    font-size: 20px;
    display: none;
}
.column-content div:hover i{
    display: inline-block;
}
.new-block{
    font-size: 11px;
    font-weight: 600;
    color: black;
    padding: 10px 8px;
    background-color: rgb(212, 212, 212);
    transition: background-color 0.3s;
}
.column-content div:hover .new-block{
    background-color: white;
}


.products:hover .CONTAINER-ONE, .resources:hover .CONTAINER-TWO{
    display: flex;
}


.menu-title{
    font-size: 13.5px;
    font-weight: 600;
    align-self: center;
}
.menu-name-arrows{
    display: flex;
    position: relative;
    align-self: center;
    margin-top: 14px;
    width: 12px;
}
.fa-chevron-down, .fa-chevron-up{
    font-size: 12px;
    align-self: flex-end;
    position: absolute;
}
.menu-name-arrows .fa-chevron-up{
    display: none;
}

.menu-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}
.menu-buttons a{
    cursor: pointer;
    color: white;
}
.menu-buttons a, .menu-buttons .button{
    font-weight: 600;
    font-size: 13.5px;
}
.menu-buttons .button{
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    width: 154px;
    height: 56px;
    transition: background-color 0.3s;
}
.menu-buttons .button:hover{
    background-color: var(--hover-grey);
}

.products-right{
    padding-top: 34px;
    padding-left: 34px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.products-right-content{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.products-right-group{
    display: flex;
    flex-direction: row;
    gap: 20px;
    cursor: pointer;
}
.products-right-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.products-right-titles{
    font-size: 20px;
    color: white;
    font-weight: 600;
}
.image-cage{
    width: 44px;
    display: flex;
    align-items: center;
}
.arrow{
    display: none;
    transform: rotate(180deg);
}
.title-arrow{
    display: flex;
    align-items: center;
    height: 28px;
}
.products-right-group:hover .arrow{
    display: inline-block;
}



.resources-sides{
    display: flex;
    flex-direction: column;
    position: relative;
}
.RESOURCES-ONE{
    margin-top: 36px;
}
.resources-group{
    display: flex;
    margin-left: 128px;
    width: 600px;
    cursor: pointer;
}
.resources-group:hover .title{
    color: white;
    text-decoration: underline;
    text-underline-offset: 10px;
}
.resources-group img, .resources-group .description{
    display: none;
}
.resources-group img, .resources-group .description{
    position: absolute;
}
.title{
    font-size: 38px;
    font-weight: 600;
    color: rgb(153, 153, 153);
}
.resources-group img{
    width: 620px;
    height: 390px;
    object-fit: cover;
    right:0;
    top: 0;
    margin-top: 36px;
    margin-right: 120px;
}

.resources-group:hover img{
    display: block;
}
.resources-group:hover .description{
    display: block;
}
.resources-group .description{
    font-size: 17px;
    font-weight: 600;
    bottom: 0;
    left: 0;
    margin-left: 128px;
    margin-bottom: 36px;
    height: 40px;
}
.resources-arrow{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.resources-arrow i{
    font-size: 30px;
    margin-top: 5px;
    display: none;
}
.resources-group:hover i{
    display: inline-block;
}



.RESOURCES-ONE{
    margin-top: -315px;
}
.RESOURCES-TWO{
    margin-top: 88px;
}
.RESOURCES-ONE img{
    display: inline-block;
}
#show-description{
    display: inline-block;
}
.RESOURCES-ONE .title{
    color: white;
    text-decoration: underline;
    text-underline-offset: 10px;
}
.RESOURCES-ONE i{
    display: inline-block;
}

.deactivate:hover ~ .RESOURCES-ONE img, .RESOURCES-ONE .description{
    display: none;
}
.deactivate:hover ~ .RESOURCES-ONE .title{
    color: rgb(153, 153, 153);
    text-decoration: none;
}
.deactivate:hover ~ .RESOURCES-ONE i{
    display: none;
}
.deactivate:hover ~ .RESOURCES-ONE #show-description{
    display: none;
}



/* HERO SECTION */

.hero-section{
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    height: 780px;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: red;
    background: url(images/Hero.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -80px;
}
.hero-text-container{
    display: flex;
    flex-direction: column;
    margin-top: 250px;
    gap:48px;
}
.hero-title{
    color: white;
    font-size: 80px;
    font-weight: 500;
    letter-spacing: -4px;
    word-spacing: -10px;
    line-height: 1;
}
.hero-btn-text{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}
.hero-button{
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    width: 154px;
    height: 66px;
    font-weight: 600;
    font-size: 13.5px;
}
.hero-button:hover{
    background-color: #131313;
    color: white;
}
.hero-btn-text p{
    font-size: 15px;
    font-weight: 600;
    color: rgba(236, 236, 236, 0.8);
}



/* DOMAIN SECTION */

.domain-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 80px 40px;
    background-color: rgb(235, 235, 235);
}
.domain-title{
    font-size: 34px;
    font-weight: 500;
    letter-spacing: -1px;
    word-spacing: 3px;
    line-height: 1;
}
.search-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.search-container a{
    text-decoration: underline solid black 0.5px ;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    text-underline-offset: 2px;
}
.search-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:16px;
}
.search{
    position: relative;
    display: flex;
}
.search .fa-magnifying-glass{
    position: absolute;
    font-size: 16px;
    margin-top: 22px;
    margin-left: 20px;
}
.search-input, .search-button{
    height: 62px;
}
.search-input{
    border: none;
    font-size: 13.5px;
    padding-right: 20px;
    padding-left: 50px;
    width: 575px;
}
.search-input:focus{
    outline: 2px solid rgb(50, 116, 202);
    font-weight: 500;
}
.search-input::placeholder{
    font-size: 15px;
    font-weight: 400;
    color: rgb(185, 185, 185);
}
.search-button{
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    width: 120px;
    font-weight: 600;
    font-size: 13.5px;
}
.search-button:hover{
    color: black;
    background-color: rgb(228, 228, 228);
}