*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
    box-sizing: border-box;
    --hover-grey: rgba(255, 255, 255, 0.8);
}
body{
    height: 15000px;
}
a{
    text-decoration: none;
    color: initial;
}
.top-boys-container{
    display: flex;
    flex-direction: column;
    top: 0;
    position: sticky;
}




/* CLOSE */

#close:checked ~ .black-friday-strip{
    display: none;
}
.black-friday-strip{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0px 22px 0px 70px;
    background-color: black;
}
#close{
    display: none;
}
.black-friday-strip img{
    width: 30px;
    cursor: pointer;
}
.black-friday-strip p{
    font-size: 16.5px;
    font-weight: 600;
    color: white;
    flex: 1;
    text-align: center;
    padding-bottom: 6px;
}





/* MENU */

.menu{
    padding: 0px 40px;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}
.menu img{
    -webkit-filter: invert(100%);
    width: 205px;
}


.menu-middle-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}
.menu-group{
    cursor: pointer;
}
.menu-name{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.menu-title{
    font-size: 13.5px;
    font-weight: 600;
}
.menu-name-arrows{
    display: flex;
    position: relative;
    width: 12px;
}
.fa-chevron-down, .fa-chevron-up{
    font-size: 12px;
    align-self: flex-end;
    position: absolute;
}
.menu-name-arrows .fa-chevron-up{
    display: none;
}

.menu-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}
.menu-buttons a{
    cursor: pointer;
    color: white;
}
.menu-buttons a, .menu-buttons .button{
    font-weight: 600;
    font-size: 13.5px;
}
.menu-buttons .button{
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    width: 154px;
    height: 56px;
    transition: background-color 0.3s;
}
.menu-buttons .button:hover{
    background-color: var(--hover-grey);
}